Repository jellyfin/jellyfin, pull requests merged in 2023-11, with the labels that each got.

#10454 Add MALLOC_TRIM_THRESHOLD_ to default ENV
  debian/conf/jellyfin
  fedora/jellyfin.env
Labels: stable backport

#10528 Fix mismatched intel VAAPI UMD/KMD - Backport #10451
  MediaBrowser.Controller/MediaEncoding/EncodingHelper.cs
Labels: bug

#10501 Update link to Jellyfin website
  deployment/unraid/docker-templates/jellyfin.xml
Labels: security

#9765 Convert ItemSortBy to enum
  Emby.Dlna/ContentDirectory/ControlHandler.cs
  Emby.Server.Implementations/Data/SqliteItemRepository.cs
  Emby.Server.Implementations/Images/BaseFolderImageProvider.cs
  Emby.Server.Implementations/Library/LibraryManager.cs
  Emby.Server.Implementations/LiveTv/LiveTvManager.cs
  Emby.Server.Implementations/Sorting/AiredEpisodeOrderComparer.cs
  Emby.Server.Implementations/Sorting/AlbumArtistComparer.cs
  Emby.Server.Implementations/Sorting/AlbumComparer.cs
  Emby.Server.Implementations/Sorting/ArtistComparer.cs
  Emby.Server.Implementations/Sorting/CommunityRatingComparer.cs
  Emby.Server.Implementations/Sorting/CriticRatingComparer.cs
  Emby.Server.Implementations/Sorting/DateCreatedComparer.cs
  Emby.Server.Implementations/Sorting/DateLastMediaAddedComparer.cs
  Emby.Server.Implementations/Sorting/DatePlayedComparer.cs
  Emby.Server.Implementations/Sorting/IndexNumberComparer.cs
  Emby.Server.Implementations/Sorting/IsFavoriteOrLikeComparer.cs
  Emby.Server.Implementations/Sorting/IsFolderComparer.cs
  Emby.Server.Implementations/Sorting/IsPlayedComparer.cs
  Emby.Server.Implementations/Sorting/IsUnplayedComparer.cs
  Emby.Server.Implementations/Sorting/NameComparer.cs
  Emby.Server.Implementations/Sorting/OfficialRatingComparer.cs
  Emby.Server.Implementations/Sorting/ParentIndexNumberComparer.cs
  Emby.Server.Implementations/Sorting/PlayCountComparer.cs
  Emby.Server.Implementations/Sorting/PremiereDateComparer.cs
  Emby.Server.Implementations/Sorting/ProductionYearComparer.cs
  Emby.Server.Implementations/Sorting/RandomComparer.cs
  Emby.Server.Implementations/Sorting/RuntimeComparer.cs
  Emby.Server.Implementations/Sorting/SeriesSortNameComparer.cs
  Emby.Server.Implementations/Sorting/SortNameComparer.cs
  Emby.Server.Implementations/Sorting/StartDateComparer.cs
  Emby.Server.Implementations/Sorting/StudioComparer.cs
  Jellyfin.Api/Controllers/ArtistsController.cs
  Jellyfin.Api/Controllers/ChannelsController.cs
  Jellyfin.Api/Controllers/GenresController.cs
  Jellyfin.Api/Controllers/ItemsController.cs
  Jellyfin.Api/Controllers/LiveTvController.cs
  Jellyfin.Api/Controllers/MusicGenresController.cs
  Jellyfin.Api/Controllers/TrailersController.cs
  Jellyfin.Api/Controllers/TvShowsController.cs
  Jellyfin.Api/Controllers/YearsController.cs
  Jellyfin.Api/Helpers/RequestHelpers.cs
  Jellyfin.Api/Models/LiveTvDtos/GetProgramsDto.cs
  Jellyfin.Data/Enums/ItemSortBy.cs
  MediaBrowser.Controller/Entities/IHasDisplayOrder.cs
  MediaBrowser.Controller/Entities/InternalItemsQuery.cs
  MediaBrowser.Controller/Entities/Movies/BoxSet.cs
  MediaBrowser.Controller/Library/ILibraryManager.cs
  MediaBrowser.Controller/Providers/EpisodeInfo.cs
  MediaBrowser.Controller/Sorting/IBaseItemComparer.cs
  MediaBrowser.LocalMetadata/Savers/BaseXmlSaver.cs
  MediaBrowser.Model/LiveTv/LiveTvChannelQuery.cs
  MediaBrowser.Model/Querying/ItemSortBy.cs
  MediaBrowser.Providers/Manager/MetadataService.cs
  MediaBrowser.Providers/Plugins/Tmdb/TmdbClientManager.cs
  tests/Jellyfin.Api.Tests/Helpers/RequestHelpersTests.cs
Labels: breaking change: plugin api

#9764 Convert CollectionType, SpecialFolderType to enum
  Emby.Dlna/ContentDirectory/ControlHandler.cs
  Emby.Server.Implementations/Images/CollectionFolderImageProvider.cs
  Emby.Server.Implementations/Images/DynamicImageProvider.cs
  Emby.Server.Implementations/Library/LibraryManager.cs
  Emby.Server.Implementations/Library/Resolvers/Audio/AudioResolver.cs
  Emby.Server.Implementations/Library/Resolvers/Audio/MusicAlbumResolver.cs
  Emby.Server.Implementations/Library/Resolvers/Audio/MusicArtistResolver.cs
  Emby.Server.Implementations/Library/Resolvers/Books/BookResolver.cs
  Emby.Server.Implementations/Library/Resolvers/Movies/MovieResolver.cs
  Emby.Server.Implementations/Library/Resolvers/PhotoAlbumResolver.cs
  Emby.Server.Implementations/Library/Resolvers/PhotoResolver.cs
  Emby.Server.Implementations/Library/Resolvers/PlaylistResolver.cs
  Emby.Server.Implementations/Library/Resolvers/SpecialFolderResolver.cs
  Emby.Server.Implementations/Library/Resolvers/TV/EpisodeResolver.cs
  Emby.Server.Implementations/Library/Resolvers/TV/SeriesResolver.cs
  Emby.Server.Implementations/Library/UserViewManager.cs
  Emby.Server.Implementations/Playlists/PlaylistsFolder.cs
  Jellyfin.Api/Controllers/GenresController.cs
  Jellyfin.Api/Controllers/ItemUpdateController.cs
  Jellyfin.Api/Controllers/ItemsController.cs
  Jellyfin.Api/Controllers/LibraryController.cs
  Jellyfin.Api/Controllers/UserViewsController.cs
  Jellyfin.Data/Attributes/OpenApiIgnoreEnumAttribute.cs
  Jellyfin.Data/Enums/CollectionType.cs
  Jellyfin.Server/Extensions/ApiServiceCollectionExtensions.cs
  Jellyfin.Server/Filters/IgnoreEnumSchemaFilter.cs
  MediaBrowser.Controller/Entities/BaseItem.cs
  MediaBrowser.Controller/Entities/BasePluginFolder.cs
  MediaBrowser.Controller/Entities/CollectionFolder.cs
  MediaBrowser.Controller/Entities/ICollectionFolder.cs
  MediaBrowser.Controller/Entities/InternalItemsQuery.cs
  MediaBrowser.Controller/Entities/UserView.cs
  MediaBrowser.Controller/Entities/UserViewBuilder.cs
  MediaBrowser.Controller/Library/ILibraryManager.cs
  MediaBrowser.Controller/Library/IUserViewManager.cs
  MediaBrowser.Controller/Library/ItemResolveArgs.cs
  MediaBrowser.Controller/Resolvers/IItemResolver.cs
  MediaBrowser.Model/Dto/BaseItemDto.cs
  MediaBrowser.Model/Dto/MetadataEditorInfo.cs
  MediaBrowser.Model/Entities/CollectionType.cs
  MediaBrowser.Model/Library/UserViewQuery.cs
  tests/Jellyfin.Server.Implementations.Tests/Library/AudioResolverTests.cs
  tests/Jellyfin.Server.Implementations.Tests/Library/EpisodeResolverTest.cs
Labels: breaking change: plugin api

#9762 Convert string MediaType to enum MediaType
  Emby.Dlna/ContentDirectory/ControlHandler.cs
  Emby.Dlna/Didl/DidlBuilder.cs
  Emby.Dlna/PlayTo/PlayToController.cs
  Emby.Dlna/PlayTo/uBaseObject.cs
  Emby.Server.Implementations/Data/SqliteItemRepository.cs
  Emby.Server.Implementations/Library/MediaSourceManager.cs
  Emby.Server.Implementations/Library/UserViewManager.cs
  Emby.Server.Implementations/Library/Validators/CollectionPostScanTask.cs
  Emby.Server.Implementations/Playlists/PlaylistManager.cs
  Emby.Server.Implementations/ScheduledTasks/Tasks/ChapterImagesTask.cs
  Jellyfin.Api/Controllers/ArtistsController.cs
  Jellyfin.Api/Controllers/FilterController.cs
  Jellyfin.Api/Controllers/ItemsController.cs
  Jellyfin.Api/Controllers/PlaylistsController.cs
  Jellyfin.Api/Controllers/SearchController.cs
  Jellyfin.Api/Controllers/SessionController.cs
  Jellyfin.Api/Controllers/SuggestionsController.cs
  Jellyfin.Api/Controllers/TrailersController.cs
  Jellyfin.Api/Controllers/YearsController.cs
  Jellyfin.Api/Helpers/MediaInfoHelper.cs
  Jellyfin.Api/Helpers/StreamingHelpers.cs
  Jellyfin.Api/Models/PlaylistDtos/CreatePlaylistDto.cs
  Jellyfin.Api/Models/SessionDtos/ClientCapabilitiesDto.cs
  Jellyfin.Data/Enums/MediaType.cs
  Jellyfin.Server.Implementations/Events/Consumers/Session/PlaybackStartLogger.cs
  Jellyfin.Server.Implementations/Events/Consumers/Session/PlaybackStopLogger.cs
  MediaBrowser.Controller/Entities/Audio/Audio.cs
  MediaBrowser.Controller/Entities/BaseItem.cs
  MediaBrowser.Controller/Entities/Book.cs
  MediaBrowser.Controller/Entities/InternalItemsQuery.cs
  MediaBrowser.Controller/Entities/Photo.cs
  MediaBrowser.Controller/Entities/UserViewBuilder.cs
  MediaBrowser.Controller/Entities/Video.cs
  MediaBrowser.Controller/LiveTv/LiveTvChannel.cs
  MediaBrowser.Controller/Playlists/Playlist.cs
  MediaBrowser.Controller/Session/SessionInfo.cs
  MediaBrowser.LocalMetadata/Parsers/PlaylistXmlParser.cs
  MediaBrowser.LocalMetadata/Savers/PlaylistXmlSaver.cs
  MediaBrowser.Model/Dlna/DeviceProfile.cs
  MediaBrowser.Model/Dto/BaseItemDto.cs
  MediaBrowser.Model/Entities/MediaType.cs
  MediaBrowser.Model/Playlists/PlaylistCreationRequest.cs
  MediaBrowser.Model/Search/SearchHint.cs
  MediaBrowser.Model/Search/SearchQuery.cs
  MediaBrowser.Model/Session/ClientCapabilities.cs
  MediaBrowser.Providers/MediaInfo/SubtitleScheduledTask.cs
  MediaBrowser.Providers/Trickplay/TrickplayImagesTask.cs
Labels: breaking change: plugin api

#10557 Move DLNA to Plugin (Part 1)
  Emby.Dlna/Extensions/DlnaServiceCollectionExtensions.cs
  Emby.Dlna/Main/DlnaEntryPoint.cs
  Emby.Dlna/Main/DlnaHost.cs
  Emby.Server.Implementations/ApplicationHost.cs
  Emby.Server.Implementations/Plugins/PluginManager.cs
  MediaBrowser.Common/Plugins/IPluginServiceRegistrator.cs
  MediaBrowser.Controller/Plugins/IPluginServiceRegistrator.cs
  tests/Jellyfin.Server.Integration.Tests/JellyfinApplicationFactory.cs
Labels: breaking change: plugin api
